extends base
include _reviewCard

block append head
  script(src='https://api.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.js')
  link(href='https://api.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.css' rel='stylesheet')

mixin overviewBox(label, text, icon)
  .overview-box__detail
    svg.overview-box__icon
      use(xlink:href=`/img/icons.svg#icon-${icon}`)
    span.overview-box__label= label
    span.overview-box__text= text

block content
  section.section-header
    .header__hero
      .header__hero-overlay &nbsp;
      img.header__hero-img(src=`/img/animes/${anime.imageCover}`, alt=`${anime.name}`)

    .heading-box
      h1.heading-primary
        span= `${anime.name} anime`
      .heading-box__group
        .heading-box__detail
          svg.heading-box__icon
            use(xlink:href='/img/icons.svg#icon-clock')
          span.heading-box__text= `${anime.duration} minutes`
        

  section.section-description
    .overview-box
      div
        .overview-box__group
          h2.heading-secondary.ma-bt-lg Infos

          - const date = anime.startDates[0].toLocaleString('fr-FR', {month: 'long', year: 'numeric'})
          
          +overviewBox('type', anime.type, '')
          +overviewBox('genre', anime.genre, '')
          +overviewBox('Rating', `${anime.ratingsAverage} / 5`, 'star')
    .description-box
      h2.heading-secondary.ma-bt-lg= `A propos de ${anime.name} `
      - const parapraphs = anime.description.split('\n');
      each p in parapraphs
        p.description__text= p

  section.section-pictures
    each img, i in anime.images
      .picture-box
        img.picture-box__img(src=`/img/animes/${img}`, alt=`${i + 1}`, class=`picture-box__img--${i + 1}`)

  section.section-reviews
    .reviews
      each review in anime.reviews
        +reviewCard(review)

  section.section-cta
    .cta
      .cta__img.cta__img--logo
        img(src='/img/logo-white.png', alt='')
      img.cta__img.cta__img--1(src=`/img/animes/${anime.images[1]}`, alt='Anime picture')
      img.cta__img.cta__img--2(src=`/img/animes/${anime.images[2]}`, alt='Anime picture')
      .cta__content
        h2.heading-secondary Vous avez apprécié cette anime ? Vous l'avez détester ? 
        p.cta__text= `${anime.duration} minutes. 1 histoire.`
        
        if user
          a.btn.btn--green.btn--small(href=`/anime/${anime.slug}/review`) Laissez un avis
          
        else
          a.btn.btn--green.span-all-rows(href='/login') Connecter vous pour laisser des avis