extends base
include _reviewCard

block append head
  script(src='https://api.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.js')
  link(href='https://api.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.css' rel='stylesheet')

mixin overviewBox(label, text, icon)
  .overview-box__detail
    svg.overview-box__icon
      use(xlink:href=`/img/icons.svg#icon-${icon}`)
    span.overview-box__label= label
    span.overview-box__text= text

block content
  section.section-header-review
    .header__hero
      .header__hero-overlay &nbsp;
      img.header__hero-img(src=`/img/animes/${anime.imageCover}`, alt=`${anime.name}`)

    .heading-box
      h4.heading-primary
        span= `laissez votre avis sur ${anime.name}`
        .user-view__content
            .user-view__form-container
              form.form.form-anime-review
                .form__group
                  label.form__label(for='review') évaluations
                  textarea#review.form__input(type='text', required, name='review')
                .form__group
                  label.form__label(for='rating') Note
                  input#rating.form__input(type='number', min=1,max=5, name='rating')
              .form__group
                button.btn.btn--green Valider